@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-Bold.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-Black.ttf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-ExtraBold.ttf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-SemiBold.ttf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-Medium.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-Light.ttf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-ExtraLight.ttf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-Thin.ttf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Marcellus';
  src: url('/fonts/Marcellus-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

.social-shadow {
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.10);
}


.parallax {
  background-attachment: fixed;
  background-position: start;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-scroll {
  overflow: hidden; /* Kaydırma çubuğunu gizler */
}
.aspect-square {
  aspect-ratio: 1 / 1;
}

.menu-panel, /* ya da className */
.reservation-bar {
  background-color: rgba(29, 29, 27, 0.5);
  mix-blend-mode: lighten; /* veya screen, overlay, difference vs. */

}


.gallery{
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0 12px;
  transition: all 350ms ease;
  cursor: pointer;
  -webkit-transition:all 350ms ease;
  margin-bottom: 12px;
}

.pics{
  transition: all 350ms ease;
  cursor: pointer;
  -webkit-transition:all 350ms ease;
  margin-bottom: 12px;
}

@layer utilities {
  .leading-trim-both {
    leading-trim: both;
  }
  .text-edge-cap {
    text-edge: cap;
  }
}






